.main_img{
  border-radius: 250px 250px 0px 0px;
}

.newsletter-form-input {
    -webkit-backdrop-filter: blur(7.5px);
    backdrop-filter: blur(7.5px);
    color: white;
    background-color: rgba(255, 255, 255, .01);
    border: 1px solid rgba(255, 255, 255, .33);
    border-radius: 33px;
    margin-bottom: 0;
    padding: 12px 12px 12px 30px;
    font-family: Lato-normal, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 0;
    height: 60px;
}

.docccc{
  width: 50%;
}
.newsletter-submit-button {
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0);
    padding: 0;
    font-family: Instrumentserif, sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 1;
    position: absolute;
    top: 0%;
    bottom: 25%;
    left: auto;
    right: 9%;
}

input.w-button {
    -webkit-appearance: button;
}

@media (max-width:400px) {
  .main-imag-111{
    height: 446px;
    @media (max-width:325px) {
      height: 400px;
      
    }
  }
  .secing_zcsdc {
    height: 150px;
    width: 150px;
    left: -20px;
}
}

@media (max-width:690px) and (min-width:400px) {
  .main-imag-111{
    height: 600px;
    @media (max-width:325px) {
      height: 400px;
    }
  }
  .secing_zcsdc {
    height: 200px;
    width: 200px;
    left: -25px;
}
}

@media (max-width:768px) and (min-width:690px) {
.secing_zcsdc {
    height: 200px;
    width: 200px;
    left: -62px;
}
 .main-imag-111{
    height: 600px;
  }
}

@media (min-width:768px) and (max-width:1152px) {
  .secing_zcsdc{
    transform: translate(20px, 40px);
    width: 190px;
    height: 190px;
  }
}