.about_uss{
    width: 100%;
    max-width: 600px; /* Adjust as needed */
    display: block; /* Ensure it behaves like a block element */
}

.about_names{
    font-size: 1.6em; 
}

.about_para{
    font-size: 1.13em; 
    margin-top: 10px; /* Add some space above the paragraph */
}

.about_us_part{
    max-width: 600px; /* Adjust as needed */
    text-align: left; /* Center the text */
    width: 100%; /* Ensure it takes full width */
}


