@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Playfair+Display:wght@700&display=swap');

body {
  font-family: 'Montserrat', Arial, sans-serif;
  background: #fdf8f8;
  margin: 0;
  padding: 0;
}

h1, h2, h3, .fc-title, .es-title, .cts-title {
  font-family:'Montserrat', Arial, sans-serif;
}